<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>FireCSS</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css" />

        <link rel="stylesheet" type="text/css" href="http://192.168.0.3:3000/stylesheets/style.css" />
    </head>
    <body id="index">
        <div id="header">
        </div>
        <div id="content">
            <div id="content-head">
                <div>
                    <div class="title">FireCSS</div>
                    <div class="tagline">See CSS changes in <em>all</em> browsers as you edit</div>

                </div>
                <div class="clear"></div>
            </div>
            <div class="sign-up" id="sign-up">
              <%= render :partial => 'firecss/thanks_fanboy' %>
            </div>
            <div class="details">
              &nbsp;
            </div>
         </div>
        <div id="footer">

        </div>
    </body>
</html>