#fbFireCSSSave, #fbFireCSSReset {
    margin: 0 1px 0 1px;
    padding: 0 1px 0 1px;
    margin-bottom: 1px;
    padding: 0px;
    opacity: 0.8;

    /* The default styling does not always keep button size content or image
       position constant, e.g. when [checked="true"].  These numbers were
       chosen to keep them constant against the default winstripe styling. */
    padding-top: 4px;
    padding-bottom: 2px;
    -moz-padding-start: 4px;
    -moz-padding-end: 2px;

}


#fbFireCSSReset {
      list-style-image: url("chrome://firecss/content/images/reset.png");
}

#fbFireCSSSave {
      list-style-image: url("chrome://firecss/content/images/save.png");
}

#fbFireCSSSave > .toolbarbutton-text, #fbFireCSSReset > .toolbarbutton-text {
    display: none;
}

*{css: }
