html {
    font: 13px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,sans-serif;
    background-color: #EFEFEF;

}

body {
}

P {
    margin-bottom: 2em;
    color: #666666;
    line-height: 1.3em
}

#content {
    width: 830px;
    margin:  2em auto;
    border: 1px solid #333333;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background-color: white;
    padding: 2em;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
   line-height: 1.8em;
   margin-top: 2em;
}

em {
    font-weight: bold;
    color: #333333;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 10px;
}

.tagline {
    font-size: 0.85em;
}

#index .video {
    float: right;
    -moz-box-shadow: 6px 6px 8px #333;
    -webkit-box-shadow: 6px 6px 8px #333;
    box-shadow: 6px 6px 8px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#333333')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#333333');
}

#index .description {
    margin-top: 2em;
        width: 235px;
        text-align: justify;
}

#index .details {
    margin-top: 3em;
    width: 500px;
    text-align: justify;
}

.sign-up {
    text-align: center;
    background-color:  #FFFFAA;
    border: 1px solid #CCCCCC;
    padding: 1.2em;
    padding-bottom: 0.6em;
    margin-left: -2em;
    margin-right: -2em;
    margin-top: 3em;
    font-weight: bold;
    font-size: 1.3em
}

.sign-up .text-input {
    font-size: 0.75em;
    font-weight: normal;
}


.clear {
    clear: both;
}

.no-spam {
    font-weight: normal;
    font-size: 0.7em;
    margin-top: 5px;
    color: #666666;
}

#disqus_thread {
    width: 500px;
}

#dsq-content .dsq-comment {
    clear: none !important;
}

#contributors {
    float: right;
    font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif;
    font-size: 12px;
    margin: 3em;
    margin-right: 0;
}

.contributors {
    background-color: #8EC1DA;
     border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
     text-align: center;
}

.contributors h4 {
    font-size: 16px;
    line-height: 1.2;
}

.contributors h3 {
    font-size: 11px;
    line-height: 1.2;
}

.contributors-hd {
        padding: 10px;
        text-align: left;
        color: white;
}

.contributors-bd {
    background-color: #ffffff;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
    border-left: 1px solid #8EC1DA;
    border-right: 1px solid #8EC1DA;
    padding: 15px;
}

.contributors-ft {
    padding: 10px;
    color: white;
 }

 .contributor-notes {
     text-align: left;
     margin-top: 5px;
}