body {
}

#content {
    width: 400px;
    background-color: white;
    margin: auto;
}

#logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 0px;
 }

p {
    font-family: 'trebuchet ms';
}

em {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}